@import url(knacss.css);

/* override knacss settings */
body { 
	font-size: 1.6em;
	line-height: 1.3;
}

/* my style. 
 * layout attribute are in template files 
 * here stand color, border, etc
 */
html { 
	border-top: #c60 4px solid; 
	padding-top: 4px; 
}
body { 
	color: #555;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande", "Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	border-top: #eee 1px solid;
}
a { color: #222;}
pre { 
    border: #C60 1px dotted ;    
    padding: 5px;
}
code { 
	color: #444; 
	background: #fff;	
}
blockquote, q {
    background: #eee;
    margin: 15px 5px 15px 25px;
    padding: 10px 10px 10px 17px; 
    border-left: solid 1px #ddd;
    border-right: solid 1px #ccc;
    border-radius:5px;
}

.h1-like, .h2-like, .h3-like, .h4-like {
	font-family: "Bitstream Vera Sans", "Verdana", sans-serif;
}
.post h3, .h3-like {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
.post h4, .h4-like { 
	line-height: 1.1em;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	background: #fefefe;
	margin-top: 10px;
}

.lowercase { text-transform: lowercase;}
.tagline { font-style: italic;}
.light {color: #ccc;}
.lightlight {color: #dedede;}


#fixedlogo {
	position: fixed;
	right: 15px;
	top: 15px;
	width: 40px;
	height: 40px;
}
#top h1, #top h1 a {
	color: #ccc;
	font-size: 1.8em;
}
#top a {
	color: #eee;
}


.post-title, .post-title a, a { color: #333; text-decoration:none;}
.post-title a:hover, a:hover { color: #C60;}
.post-info, .post-info a { color: #aaa; }
.radius img {border-radius: 25px;}
.post-author { border-top: 2px solid #c60;}
.post-author-gravatar .gravatar {border:0;}
.post-author-about h3 { color: #c60; font-variant: bold; font-size: 1.4em;}
.post-author-date{ border-left: solid 1px #c60;}

.before {
	color: #aaa; 
	text-transform: uppercase; 
	letter-spacing: 2px;
	font-weight: bold;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.by-month ul li, .by-categories ul li  {
	list-style-type:none;
	margin-left: -30px;
}
.ul-cloud ul li {
	display : inline;
	width : auto;
	padding-left : 4px;
	padding-right : 4px;
	background : transparent;
	line-height : 1.5em;
}
.ul-cloud ul li:nth-of-type(odd) a {color:#1e1e1e; }
.ul-cloud ul li:nth-of-type(even) a {color:#7e7e7e; }

#footer {
	margin-bottom: 2em;
	border-top: 1px solid #eee;
}
#search input[type=text], #search #q {  /* ou #search #q */
	font-size: medium;
	background: #eee;
	border: 1px solid #f1f3f3; 
	width: 400px;
}


#buttonComment {        
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
	background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
	background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
	background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
	background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
	background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);

	background-color:#fbb450;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	border:1px solid #c97e1c;

	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:normal;
	padding:6px 11px;
	text-decoration:none;

	text-shadow:0px 1px 0px #8f7f24;

}
#buttonComment:hover {

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
	background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
	background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
	background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
	background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
	background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);

	background-color:#f89306;
}
#buttonComment:active {
	position:relative;
	top:1px;
}

#social { display: block; min-height: 30px;}
/*
 * Icon from Elegant  font 
 * (Voir style-elegantfont.css)
 */
@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.eleganticon {
	font-family: 'ElegantIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width: 6em;
	color: #eee;
}

.social_twitter:before {
	content: "\e094";	
}
.social_facebook:before {
	content: "\e093";
}
.social_googleplus:before {
	content: "\e096";
}
.icon_gift_alt:before {
	content: "\e008";
}
.icon_document:before {
	content: "\e058";
}
.social_rss:before {
	content: "\e09e";
}



