<!doctype html>
<!--[if lte IE 6]> <html class="no-js ie6 ie67 ie678" lang="en"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
  
  <title>{{tpl:lang Document not found}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Document not found}} - {{tpl:BlogName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-404">
  <div id="page">
    {{tpl:include src="_top.html"}}

    <div id="wrapper">

      <div id="main">
        <div id="content" class="line w800p center pal">

          <div id="content-info">
            <h2>{{tpl:lang Document not found}}</h2>
          </div>

          <div class="content-inner">
            <p><b>Oups !</b> Le <i>post</i> n'a pas été trouvé. Il est possible de faire une recherche ci-dessous … ou de lire l'un des derniers billets.</p>

            <div class="pbl mbm ptl txtcenter">
              <tpl:Widget id="search">
              <setting name="title"></setting>
            </tpl:Widget>
          </div>

          <p class="before pas">Les derniers articles …</p>
          <tpl:Entries lastn="5">  
          <div id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}}
          {{tpl:EntryIfFirst}} mtl mbl ptl ptb" 
          lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">

          <div class="radius right w50p mtn ptn mlm mrn">{{tpl:EntryFirstImage size="sq"}}</div>
          <h4 class="post-title h4-like ptn mtn">
            <a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h4>
            <p class="post-info small">
             Dans la catégorie 
             <a class="lowercase" href={{tpl:EntryCategoryURL}}>{{tpl:EntryCategory}}</a>
             ·
             le {{tpl:EntryDate format="%d %B %Y}}
             ·    
             <tpl:EntryTags>
             <tpl:TagsHeader><span class="post-tags"></tpl:TagsHeader>
             <a href="{{tpl:TagURL}}">{{tpl:TagID}}</a> 
             <tpl:TagsFooter></span></tpl:TagsFooter>
           </tpl:EntryTags>
         </p>
         <div class="pts pbs">{{tpl:EntryContent encode_html="1" remove_html="1" cut_string="100"}} (…)</div>
       </div> 


       <tpl:EntriesFooter>       
     </tpl:EntriesFooter>
   </tpl:Entries>

 </div>

</div>
</div>



</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>