<div id="fixedlogo" class="small-hidden">
	<a href="{{tpl:BlogURL}}"><img src="{{tpl:BlogThemeURL}}/img/icon.png" 
		title="{{tpl:BlogURL}}" alt="Goto home"/></a>
</div>

<div id="footer" class="">
<a id="menu"></a>

<div class="line w800p center pal">
	<!-- # Moteur de recherche -->
	<div class="pbl">
	<tpl:Widget id="search">
		<setting name="title"></setting>
	</tpl:Widget>
	</div>

	<div class="ptm pbl">
	<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"/>
	</a>
	</div>

	<div class="small light">
	<a class="light" href="?pages/About">À propos</a> - 
	<a class="light" href="?archive">Archives</a>
	<a class="eleganticon social_rss" href="{{tpl:BlogFeedURL}}" 
		title="Atom /RSS"></a>
	<br/>
	Propulsé par <a class="light" href="http://dotclear.org">Dotclear</a>
	avec le thème <i>Mine13</i> (temporaire)
	</div>
</div>

<div class="line w100 lightlight pls ptn small">
	<a class="lightlight" href="http://pit.namok.be">pit</a> 2003-2013<br/>
</div>

</div> <!-- end footer-->

{{tpl:SysBehavior behavior="publicFooterContent"}}
