<!-- @todo voir s'il faut changer tous les & par &amp; -->

<div id="social">
        <a target="_blank" title="Twitter" 
            class="eleganticon social_twitter"
            href="https://twitter.com/share?url={{tpl:EntryURL}}&text={{tpl:EntryTitle}}&amp;via=Pinkilla" 
            rel="nofollow"
            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
        </a><a target="_blank" title="Facebook" 
            class="eleganticon social_facebook"
            href="https://www.facebook.com/sharer.php?u={{tpl:EntryURL}}&t={{tpl:EntryTitle}}" 
            rel="nofollow" 
            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
        </a><a target="_blank" title="Google +" 
            class="eleganticon social_googleplus"
            href="https://plus.google.com/share?url={{tpl:EntryURL}}&hl=fr" 
            rel="nofollow" 
            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
        </a><a target="_blank" title="Flattr !" 
            class="eleganticon icon_gift_alt"
            href="https://flattr.com/submit/auto?user_id=Pinkilla&url={{tpl:EntryURL}}&title={{tpl:EntryTitle}}&description={{tpl:EntryTitle}}&language=fr_FR&tags=blog&category=text" 
            rel="nofollow"
            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
        </a><a title="Get ODT version"
            class="eleganticon icon_document"
            href ="{{tpl:BlogURL}}odt/post/{{tpl:EntryBasename}}">            
        </a>
</div>

