<div id="top" class="line w800p center pal">
	<h1 class="h1-like">
		<a href="{{tpl:BlogURL}}">{{tpl:BlogName encode_html="1"}}</a>
	</h1>
	<p class="tagline ptn mtn">{{tpl:BlogDescription}}</p>
	<p class="txtright"><a href="#menu">>directement au menu</a></p>
</div>

<!-- # --BEHAVIOR-- publicTopAfterContent -->
{{tpl:SysBehavior behavior="publicTopAfterContent"}}

