<!doctype html>
<!--[if lte IE 6]> <html class="no-js ie6 ie67 ie678" lang="en"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
  
  <title>{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="up" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  
  <tpl:ArchiveNext><link rel="next" href="{{tpl:ArchiveURL}}"
  title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchiveNext>
  <tpl:ArchivePrevious><link rel="prev" href="{{tpl:ArchiveURL}}"
  title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchivePrevious>
  
  <tpl:Entries no_content="1">
  <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-archive-month">
<div id="page">
{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="main">
  <div id="content" class="line w800p center pal">
  
  <p id="navlinks">
  <tpl:ArchivePrevious><a href="{{tpl:ArchiveURL}}" class="prev">&#171; {{tpl:ArchiveDate encode_html="1"}}</a>
  - </tpl:ArchivePrevious>
  <a href="{{tpl:BlogArchiveURL}}">{{tpl:lang Archives}}</a>
  <tpl:ArchiveNext> - <a href="{{tpl:ArchiveURL}}" class="next">{{tpl:ArchiveDate encode_html="1"}} &#187;</a></tpl:ArchiveNext>
  </p>
  
  <div id="content-info" class="mtm">
    <h3 class="h3-like">{{tpl:ArchiveDate}}</h3>
  </div>
  
  <div class="content-inner">
  <tpl:Entries>
    <div class="radius right w50p mlm">{{tpl:EntryFirstImage size="sq"}}</div>
    <h2 id="p{{tpl:EntryID}}" class="post-title h4-like" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}"><a
    href="{{tpl:EntryURL}}" title="{{tpl:lang Read}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:EntryTitle encode_html="1"}}</a></h2>
    
    <p class="post-info small">
    	Dans la catégorie 
    	<a class="lowercase" href={{tpl:EntryCategoryURL}}>{{tpl:EntryCategory}}</a>
    	 · 
    	le {{tpl:EntryDate format="%d %B %Y}}
    	 · 
    	<tpl:EntryTags>
    		<tpl:TagsHeader><span class="post-tags"></tpl:TagsHeader>
    		<a href="{{tpl:TagURL}}">{{tpl:TagID}}</a> 
    		<tpl:TagsFooter></span></tpl:TagsFooter>
    	</tpl:EntryTags>
    </p>
  </tpl:Entries>
  </div>
  </div>
</div> <!-- End #main -->

</div> <!-- End #wrapper -->
{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
