<!doctype html>
<!--[if lte IE 6]> <html class="no-js ie6 ie67 ie678" lang="en"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  
  <tpl:Archives>
    <link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
  </tpl:Archives>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-archive">
<div id="page">
{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="main">
<div id="content" class="line w800p center pal">
  
  <div id="content-info">
  </div>
  
  
  <div class="content-inner">
  <h3 class="h3-like">Par catégories, par tags, par mois …</h3>
  	<!-- by categories -->
  	<a id="categories"/>    
    <div class="by-categories mln pln"> 		
		  <tpl:Widget id="categories">
      	<setting name="title"></setting>
        <setting name="postcount">1</setting>
      </tpl:Widget>	
    </div>	
    <hr class="mal"/>

    <!-- by tags -->
    <a id="tags"/>    
    <div class="ul-cloud center">    
      <ul>
        <tpl:MetaData type="tag">
          <li><a href="{{tpl:MetaURL}}" class="tag{{tpl:MetaRoundPercent}}">{{tpl:MetaID}}</a></li>
        </tpl:MetaData>
      </ul>
    </div>  
    <hr class="mal"/>

  
  
	<!-- by month -->
	<a id="month"/>
  <div class="by-month">
	<tpl:Archives>
		<tpl:ArchivesYearHeader>
		<div class="left pas">
			<h4 class="h4-like">{{tpl:ArchiveDate format="%Y"}}</h4>
			<ul>
		</tpl:ArchivesYearHeader>
		<li><a href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}">{{tpl:ArchiveDate encode_html="1" format="%B"}}</a>({{tpl:ArchiveEntriesCount}})</li>
		<tpl:ArchivesYearFooter>
			</ul>
		</div>
		</tpl:ArchivesYearFooter>
	</tpl:Archives>
  </ul>
  <div>
  </div><!-- End content-inner -->
  
  
</div><!-- End #content -->
</div> <!-- End #main -->
</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
