<!doctype html>
<!--[if lte IE 6]> <html class="no-js ie6 ie67 ie678" lang="en"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:EntryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" content="{{tpl:EntryTitle encode_html="1"}}" />
  <meta name="dc.description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="dc.creator" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:EntryLang}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:EntryNext><link rel="next" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryNext>
  
  <tpl:EntryPrevious><link rel="prev" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryPrevious>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  
  <script type="text/javascript" src="{{tpl:BlogThemeURL}}/../default/js/post.js"></script>
  <script type="text/javascript">
  //<![CDATA[
  var post_remember_str = '{{tpl:lang Remember me on this blog}}';
  //]]>
</script>
</head>

<body class="dc-post">
  <div id="page">
    {{tpl:EntryPingData}}

    {{tpl:include src="_top.html"}}

    <div id="wrapper">

      <div id="main">
        <div id="content" class="line w800p center pal">

          <p id="navlinks" class="light">
            <tpl:EntryPrevious><a class="light" href="{{tpl:EntryURL}}"
            title="{{tpl:EntryTitle encode_html="1"}}" class="prev">&#171; {{tpl:EntryTitle encode_html="1"
            cut_string="50"}}</a></tpl:EntryPrevious>
            <tpl:EntryNext> <span>-</span> <a class="light" href="{{tpl:EntryURL}}"
            title="{{tpl:EntryTitle encode_html="1"}}" class="next">{{tpl:EntryTitle encode_html="1"
            cut_string="50"}} &#187;</a></tpl:EntryNext>
          </p>

          <div id="p{{tpl:EntryID}}" class="post">
            <h2 class="post-title">{{tpl:EntryTitle encode_html="1"}}</h2>

            <p class="post-info small txtright ptn pbs">
              <tpl:EntryTags>
              <tpl:TagsHeader><span class="post-tags"></tpl:TagsHeader>
              <a href="{{tpl:TagURL}}">{{tpl:TagID}}</a> 
              <tpl:TagsFooter></span></tpl:TagsFooter>
            </tpl:EntryTags>
          </p>

          <!-- # --BEHAVIOR-- publicEntryBeforeContent -->
          {{tpl:SysBehavior behavior="publicEntryBeforeContent"}}

          <!-- # Entry with an excerpt -->
          <tpl:EntryIf extended="1">
          <div class="post-excerpt mbm">{{tpl:EntryExcerpt}}</div>
        </tpl:EntryIf>

        <div class="post-content">{{tpl:EntryContent}}</div>

        <!-- # --BEHAVIOR-- publicEntryAfterContent -->
        {{tpl:SysBehavior behavior="publicEntryAfterContent"}}
      </div>

      <!-- # Attachments -->
      <tpl:Attachments>
      <tpl:AttachmentsHeader>
      <div id="attachments">
        <h3>{{tpl:lang Attachments}}</h3>
        <ul>
        </tpl:AttachmentsHeader>
        <li class="{{tpl:AttachmentType}}">
          <tpl:AttachmentIf is_mp3="1">
          {{tpl:include src="_mp3_player.html"/}} - 
        </tpl:AttachmentIf>
        <tpl:AttachmentIf is_flv="1">
        {{tpl:include src="_flv_player.html"/}}
      </tpl:AttachmentIf>
      <tpl:AttachmentIf is_flv="0">
      <a href="{{tpl:AttachmentURL}}"
      title="{{tpl:AttachmentFileName}} ({{tpl:AttachmentSize}})">{{tpl:AttachmentTitle}}</a>
    </tpl:AttachmentIf>
  </li>
  <tpl:AttachmentsFooter>
</ul>
</div>
</tpl:AttachmentsFooter>
</tpl:Attachments>

<div id ="social" class="right box">
  {{tpl:include src="_social.html"}}    
</div>

<!-- # Signature -->
<div class="post-author mtl mbl">
  <div class="post-author-gravatar left w100p pam">
    {{tpl:EntryAuthorGravatar}}
  </div>
  <div class="post-author-date right pll pbm pr0 mr0 mtm mls small">
    <p><strong>{{tpl:lang Publish on}}</strong><br/>
      {{tpl:EntryDate format="%d %B %Y"}}
    </p>
  </div>
  <div class="post-author-about box small">
    <h3 class="ptm pbn mbn">{{tpl:EntryAuthorCommonName encode_html="1"}}</h3>

    <p class="mas">Pierre mais on m'appelle Pit et je signe Pinkilla ou Père BT, c'est selon. <br/>
      On peut faire les choses sérieusement sans se prendre au sérieux … 
    </p>    
  </div>
</div>


  <!-- # Comments -->
  <p id="commentsButton">
    <button id="buttonComment" onclick="toggleComments()">
      Commentaires</button>  
    </p>
    <script type="text/javascript">    
      function toggleComments(){
        if (document.getElementById("comments").style.display == "none"){           
          document.getElementById("comments").style.display="inline";
        } else {          
          document.getElementById("comments").style.display="none";
        }
      }  
    </script>

    <div id="comments">

      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'EDIT'; 
        // required: replace example with your forum shortname
        var disqus_url = '{{tpl:EntryURL}}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); 
          dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by
          <span class="logo-disqus">Disqus</span></a>


          <tpl:EntryIf show_comments="1">
          <tpl:Comments>
          <tpl:CommentsHeader>
          <div id="comments">
            <h3>{{tpl:lang Comments}}</h3>
            <dl>
            </tpl:CommentsHeader>
            <dt id="c{{tpl:CommentID}}" class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}"><a
              href="#c{{tpl:CommentID}}" class="comment-number">{{tpl:CommentOrderNumber}}.</a>
              {{tpl:lang On}} {{tpl:CommentDate}}, {{tpl:CommentTime}}
              {{tpl:lang by}} {{tpl:CommentAuthorLink}}</dt>

              <dd class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}">
                <!-- # --BEHAVIOR-- publicCommentBeforeContent -->
                {{tpl:SysBehavior behavior="publicCommentBeforeContent"}}

                {{tpl:CommentContent}}

                <!-- # --BEHAVIOR-- publicCommentAfterContent -->
                {{tpl:SysBehavior behavior="publicCommentAfterContent"}}
              </dd>
              <tpl:CommentsFooter>
            </dl>
          </div>
        </tpl:CommentsFooter>
      </tpl:Comments>
    </tpl:EntryIf>

    <tpl:EntryIf comments_active="1">    
    <tpl:SysIfFormError>
    <p class="error" id="pr">{{tpl:SysFormError}}</p>
  </tpl:SysIfFormError>

  <tpl:SysIfCommentPublished>
  <p class="message" id="pr">{{tpl:lang Your comment has been published.}}</p>
</tpl:SysIfCommentPublished>

<tpl:SysIfCommentPending>
<p class="message" id="pr">{{tpl:lang Your comment has been submitted and
  will be reviewed for publication.}}</p>
</tpl:SysIfCommentPending>

<!-- # Comment form -->
<form action="{{tpl:EntryURL}}#pr" method="post" id="comment-form">
  <tpl:IfCommentPreview>
  <div id="pr">
    <h3>{{tpl:lang Your comment}}</h3>
    <dl>
      <dd class="comment-preview">{{tpl:CommentPreviewContent}}</dd>
    </dl>
    <p class="buttons"><input type="submit" class="submit" value="{{tpl:lang send}}" /></p>
  </div>
</tpl:IfCommentPreview>

<h3>{{tpl:lang Add a comment}}</h3>
<fieldset>
  <!-- # --BEHAVIOR-- publicCommentFormBeforeContent -->
  {{tpl:SysBehavior behavior="publicCommentFormBeforeContent"}}

  <p class="field"><label for="c_name">{{tpl:lang Name or nickname}}&nbsp;:</label>
    <input name="c_name" id="c_name" type="text" size="30" maxlength="255"
    value="{{tpl:CommentPreviewName encode_html="1"}}" />
  </p>

  <p class="field"><label for="c_mail">{{tpl:lang Email address}}&nbsp;:</label>
    <input name="c_mail" id="c_mail" type="text" size="30" maxlength="255"
    value="{{tpl:CommentPreviewEmail encode_html="1"}}" />
  </p>

  <p class="field"><label for="c_site">{{tpl:lang Website}} ({{tpl:lang optional}})&nbsp;:</label>
    <input name="c_site" id="c_site" type="text" size="30" maxlength="255"
    value="{{tpl:CommentPreviewSite encode_html="1"}}" />
  </p>

  <p style="display:none"><input name="f_mail" type="text" size="30"
    maxlength="255" value="" /></p>

    <p class="field"><label for="c_content">{{tpl:lang Comment}}&nbsp;:</label>
      <textarea name="c_content" id="c_content" cols="35"
      rows="7">{{tpl:CommentPreviewContent raw="1" encode_html="1"}}</textarea>
    </p>
    <p class="form-help">{{tpl:CommentHelp}}</p>

    <!-- # --BEHAVIOR-- publicCommentFormAfterContent -->
    {{tpl:SysBehavior behavior="publicCommentFormAfterContent"}}
  </fieldset>

  <fieldset>
    <p class="buttons"><input type="submit" class="preview" name="preview" value="{{tpl:lang preview}}" />
      <tpl:IfCommentPreview><input type="submit" class="submit" value="{{tpl:lang send}}" /></tpl:IfCommentPreview></p>
    </fieldset>
  </form>
</tpl:EntryIf>
<script type="text/javascript">
    // Je cache les commentaires dès qu'ils sont affichés … si JS est activé
    toggleComments();
  </script>
</div><!-- End #comment -->



</div> <!-- End #main -->



</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
