<!doctype html>
<!--[if lte IE 6]> <html class="no-js ie6 ie67 ie678" lang="en"> <![endif]-->
<!--[if lte IE 7]> <html class="no-js ie7 ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
  
  <title>{{tpl:TagID encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
  <meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:TagDescription cut_string="180" remove_html="1"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:TagTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
  <meta name="dc.description" lang="{{tpl:BlogLanguage}}" content="{{tpl:TagDescription remove_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
        <link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        
        <tpl:PaginationIf start="0">
        <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:TagFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-Tag">
<div id="page">
{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="main">
  <div id="content" class="line w800p center pal">

  <div id="content-info">
      <tpl:TagIf has_entries="1">
      <p class="right"><a type="application/atom+xml" href="{{tpl:TagFeedURL type="atom"}}"
      title="{{tpl:lang This Tag's entries Atom feed}}" class="feed">
      	<img src="{{tpl:BlogThemeURL}}/img/ico-rss.png" alt="{{tpl:lang This Tag's entries Atom feed}}"/></a>  
      </p>
    </tpl:TagIf>
    <h2 class="h2-like pb0 mb0 ">
    <tpl:TagParents><a href="{{tpl:TagURL}}">{{tpl:TagID encode_html="1"}}</a> &rsaquo; </tpl:TagParents>
    « {{tpl:TagID encode_html="1"}} »
    </h2>
  </div>
  
  <tpl:Entries>
    <div id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}} mtl mbl ptl ptb" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">
      
    <div class="radius right w50p mtn ptn mlm">{{tpl:EntryFirstImage size="sq"}}</div>
	<h4 class="post-title h4-like ptn mtn">
		<a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h4>
	 <p class="post-info small">
	 Dans la catégorie 
	 <a class="lowercase" href={{tpl:EntryCategoryURL}}>{{tpl:EntryCategory}}</a>
	 ·
	 le {{tpl:EntryDate format="%d %B %Y}}
	 ·	  
	 <tpl:EntryTags>
	 	<tpl:TagsHeader><span class="post-tags"></tpl:TagsHeader>
		<a href="{{tpl:TagURL}}">{{tpl:TagID}}</a> 
		<tpl:TagsFooter></span></tpl:TagsFooter>
	</tpl:EntryTags>
	</p>
	</div>
    
    <tpl:EntriesFooter>
      <tpl:Pagination>
        <p class="pagination"><tpl:PaginationIf end="0"><a href="{{tpl:PaginationURL offset="+1"}}" class="prev">&#171;
        {{tpl:lang previous entries}}</a> - </tpl:PaginationIf>
        {{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}
        <tpl:PaginationIf start="0"> - <a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}
        &#187;</a></tpl:PaginationIf></p>
      </tpl:Pagination>
    </tpl:EntriesFooter>
  </tpl:Entries>
  </div>
</div> <!-- End #main -->


</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
